
/*
	TABLE OF CONTENTS
	========================
	1.	RESTAURANT RESERVATION
*/


/*##############################################
	1.	RESTAURANT RESERVATION
##############################################*/
.section_title{
	margin: 50px 0 0;
	color: #000;
	font-size: 25px;
}
