
/*
	TABLE OF CONTENTS
	========================
	1.	RESTAURANT RESERVATION
*/


/*##############################################
	1.	RESTAURANT RESERVATION
##############################################*/
.olr_restaurant_wrapper p{
	margin: 10px 0;
}

.olr_restaurant_wrapper .olr_label{
	min-width: 200px;
	display: inline-block;
	font-weight: bold;

}

.olr_date_section,
.olr_date_section{
	margin-bottom: 24px;
	
}
.olr_date_wrap,
.olr_time_wrap{
	display: inline-block;
}


.olr_restaurant_wrapper .olr_required,
.olr_restaurant_wrapper .olr_requireds{
	color: #C00;
	font-size: 20px;
}

.olr_restaurant_wrapper #olr_restaurant_booking_button{
	margin-top :20px;
	padding: 10px;
}




